doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title index
		link(rel="stylesheet", href="/bootstrap.css")
	body
		.container
			h2 simple ament for person
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste deserunt perspiciatis sed provident, debitis labore quidem ut. Quod quidem natus illum distinctio aliquid, esse tempore, at illo voluptatum repellat fuga.

			table.table
				thead
					tr
						th Title
						th wich
						th day
						th why
				tbody
					tr
						td shopping
						td simple day
						td 12.12.12
						td shoping
					tr
						td shopping
						td simple day
						td 12.12.12
						td shoping









