<!DOCTYPE html>
html(lang="en" ng-app="main")
head
	meta(charset="UTF-8")
	base(href="/")
	title Document
	link(rel="stylesheet", href="material.css")
	link(rel="stylesheet", href="/js/custom.css")
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
body.container

	div(layout-padding md-colors="{background: 'blue'}")
		h1 header navigation
	div(layout="row" flex)
		div(flex="20" style="background: #eee" layout-padding)
			p list
			p chart
			p notifications
		div(flex="80" ui-view="content")
			h1 loading ...


	script(src="/js/vendor.js")
	script(src="/js/app.js")
		