<form 
	name="create"
	novalidate
	ng-submit="create.$valid && self.save()" 
>
	<md-input-container layout="row" flex="100">
		<label>Title</label>
		<input required ng-model="self.data.title">
	</md-input-container>
	<br>

	<md-input-container flex="100" layout="row">
		<label>price</label>
		<input required type="number" ng-model="self.data.price">
	</md-input-container>
	<br>

	<md-input-container flex="100" layout="row">
		<label>Description</label>
		<input ng-model="self.data.description">
	</md-input-container>
	<br>

	<div  layout="row"> 
	    <sm-date-time-picker 
	        fname="field" 
	        label="Date"
	        ng-model="self.data.start_day" 
	        flex="50"
	        flex-sm="100"
	        on-focus
	        flex-xs="100"                          
	        is-required="{{true}}" 
	        format="MM-DD-YYYY"
	        mode="date" 
	        week-start-day="Monday">
	    </sm-date-time-picker>
	</div>

	<md-button 
		ui-sref="main.app"
		class="md-raised md-warn">cancel</md-button>

	<md-button 
		type="submit"
		class="md-raised md-primary">create</md-button>

</form>
